*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

:root{
	--body-color: #F0F3F4;
	--primary-color: #DFE6E9;

	--yellow-color: #FFF000;
	--text-color: #000;
	--btn-color-1: #DEE6E9;
}

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--body-color);
	color: var(--text-color-1);
}

.container{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: relative;
}

.tools-bar{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	gap: 3px;
	margin-top: 1rem;
	position: absolute;
	bottom: 8px;
	z-index: 1;
}

.open-tools{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border: none;
	cursor: pointer;
	width: 3vw;
	height:3vw;
	border-radius: 0 1rem 1rem 0;
	background:var(--btn-color-1);
	padding: 0.7rem;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
	transition: 0.1s all ease-in;
}

.open-tools:active{ transform: scale(1.13); }
.open-tools img{
	width: 100%;
	height: 100%;
	user-select: none;
	cursor: pointer;
}

.open-tools img.open{ display: none; }
.tools{
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	justify-content: start;
	border-radius: 1rem;
	width: 100%;
	margin: 0 0.5rem;
}

.tool-btn,
.dual-tool-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--body-color);
	border: none;
	border-radius: 8px;
	padding: 10px 15px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.tool-btn:hover,
.dual-tool-btn:hover{
	transform: scale(1.1);
}

.tool-btn img,
.dual-tool-btn img{
	width: 20px;
	height: 20px;
	user-select: none;
	cursor: pointer;
}

.tool-btn i{
	margin-left: 8px;
	font-size: 16px;
	color: #34495E;
}

.dual-tool-btn .camera-off,
.dual-tool-btn .mic-off,
.dual-tool-btn .screen-min{ display: none; }

.dropdown{

	display: none;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	position: absolute;
	bottom: 60px;
	gap: 10px;
	padding: 5px;
	border-radius: 0.5rem;
	width: 250px;
	background: var(--primary-color);
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#shape-dropdown{ left: 140px; }
.dropdown-items{
	background: var(--body-color);
	border-radius: 0.5rem;
	padding: 0.8rem 0.2rem;
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	gap: 10px;
	align-items: start;
	justify-content: start;
	width: 100%;
}

#pen-width{
	width: 200px;
	margin: 0 10px;
	-webkit-appearance: none;
	appearance: none;
	height: 8px;
	background: linear-gradient(to right, black 0%, #ddd 0%);
	border-radius: 5px;
	outline: none;
	transition: background 0.3s ease;
}

#pen-width::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#pen-width::-moz-range-thumb{

	width: 20px;
	height: 20px;
	background: var(--text-color-1);
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.color-swatch{
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.2s ease;
}

.selected-color{ box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; }
.dropdown-items-btn{
	background: var(--body-color);
	padding: 0.1rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.other-tools{
	background: var(--btn-color-1);
	width: 100%;
	border: none;
	padding: 0.6rem;
	text-align: left;
	cursor: pointer;
}

.selected-tool{ box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; }
.main-area{
	display: flex;
	align-items: start;
	justify-content: start;
	height: 100%;
	flex: 1;
}

.content-section{
	flex: 3;
	position: relative;
	display: flex;
	align-items: start;
	justify-content: start;
	overflow: hidden;
	height: 100%;
}

#whiteboard{
    width: 3000px;
    height: 3000px;
    display: block;
    background-image: radial-gradient(#ccc 1px, transparent 0);
    background-size: 20px 20px;
    margin: 0;
    padding:0;
}

.chat-section{
	position: absolute;
	top: 4%;
	bottom: 1%;
	right: 0;
	width: 350px;
	height: 96%;
	display: none;
	flex-direction: column;
	padding: 10px;
	background: linear-gradient(to top, rgba(53, 45, 45, 0.9), rgba(53, 45, 45, 0.7), rgba(53, 45, 45, 0.5), rgba(53, 45, 45, 0.3), transparent);
	backdrop-filter: blur(2px);
	z-index: 1;
}

.chat-box-btn{
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: start;
	gap: 1rem;
}

.chat-btn{
	border: none;
	cursor: pointer;
	width: 3vw;
	height: 3vw;
	background: transparent;
	padding: 0.5rem;
	transition: 0.1s all ease-in;
}

.chatArrow{
	border-radius: 50%;
	border: none;
	background: var(--body-color);
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 35px;
	height: 35px;
	cursor: pointer;
	z-index: 5;
}

.chat-btn:active{ transform: scale(1.13); }
.chat-btn img{
	width: 100%;
	height: 100%;
	user-select: none;
	cursor: pointer;
}

#student-message{
	flex: 1;
	margin-bottom: 10px;
	padding: 10px;
	overflow-y: auto;
	position: relative;
}

#student-message::-webkit-scrollbar{ width: 10px; }
#student-message::-webkit-scrollbar-track{ background: #F1F1F1; }
#student-message::-webkit-scrollbar-thumb{ background: #888; }
#student-message::-webkit-scrollbar-thumb:hover{ background: #555; }

.send-msg-box{ position: relative; }
#tutor-message{
	width: 100%;
	height: 5vw;
	padding: 8px;
	margin-bottom: 10px;
	resize: none;
	border: 1px solid #787878;
	outline: none;
	font-family: 'poppins', sans-serif;
	background: none;
	color: #ddd;
}

.send-msg-box button{
	position: absolute;
	right: 0;
	bottom: 0;
}

.camera-control{
	position: absolute;
	top: 120px;
	left: 0px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: grab;
	user-select: none;
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: -85px;
}

.cemera-control:active{ cursor: grabbing; }
.webcam-icon{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: transparent;
	display: block;
}

#webcam-video{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.shapeBtn{
	border: none;
	background: var(--primary-color);
	cursor: pointer;
	border-radius: 8px;
}

.selected-shape{
	border: 1px solid var(--btn-color-1);
	background: var(--body-color);
}

.shapes img{
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	aspect-ratio: 1;
}

.fill-color{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	padding: 0;
	background: transparent;
}

.fill-color label{
	width: 90%;
	padding: 0.5rem;
	cursor: pointer;
}

.pinned-message{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background: var(--yellow-color);
	z-index: 2;
}

.pin-btn{
	float: right;
	background: none;
	border: none;
	font-size: 14px;
	cursor: pointer;
	color: #FFF;
	transform: rotate(45deg);
	transition: 0.1s ease all;
}

.unpin-btn{
	float: right;
	border: none;
	background: transparent;
	font-size: 10px;
	cursor: pointer;
}

.pin-btn:hover,
.unpin-btn:hover{
	transform: rotate(45deg);
	transform: scale(1.1);
}

.message{
	margin-bottom: 3px;
	padding: 10px;
	border-radius: 5px;
	background: transparent;
	cursor: pointer;
	color: #FFF;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message:hover{ background: rgba(32, 31, 31, 0.18); }
.message strong{
	display: block;
	margin-bottom: 5px;
}

.pin-btn, .unpin-btn {
    font-size: 16px;
    color: black;
    background: transparent;
    border: none;
    cursor: pointer;
    float: right;
    margin-left: 10px;
    z-index: 10;
}

.pinned-message i {
    color: black;
}

#chat-record-btn {
	border: none;
	cursor: pointer;
	width: 3vw;
	height: 3vw;
	background: transparent;
	padding: 0.5rem;
	transition: 0.1s all ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 35px;
	bottom: 0;
}

#chat-record-btn:active {
	transform: scale(1.13);
}

#chat-record-btn i {
	font-size: 1.5rem;
	color: #000;
}

#chat-record-btn img {
	width: 100%;
	height: 100%;
	user-select: none;
	cursor: pointer;
}

#download-btn {
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    padding: 0.5rem;
    transition: 0.1s all ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 600px;
    bottom: 0.5vw;
    z-index: 1000;
}

#download-btn i {
    font-size: 1.5rem;
    color: #000;
    pointer-events: none; /* ✅ important fix */
}

#whiteboard-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 6px 0;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
    z-index: 1100;
}

body.dark-mode #whiteboard-header {
    background-color: #1f1f1f;
    color: #ffffff;
    border-bottom: 1px solid #444;
}

/*.iit-p {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	cursor: grab;
	user-select: none;
	width: 120px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1100;
}*/


/*.iit-p img {
    width: 120px;*/ /* ensures image scales with container */
    /*height: 120px;
}*/